@model List<Book>
@{
    ViewData["Title"] = "Books";
}

<div class="text-center">
    @foreach(Book book in Model)
    {
        <p>@book.Title, @book.Genre.Name, @book.YearPublished</p>
        @foreach(Author author in book.Authors)
        {
            <p>@author.Name</p>
        }
        <img width="250px" src="@book.CoverImageUrl"></img>
    }
    
</div>